---
layout: default
---
<section class="home">
<picture>
<source srcset="/photos/largex2/gallery1.jpg 1880w,
				/photos/largex1/gallery1.jpg 940w,
				/photos/mediumx2/gallery1.jpg 1240w,
				/photos/mediumx1/gallery1.jpg 620w,
				/photos/smallx2/gallery1.jpg 600w,
				/photos/smallx1/gallery1.jpg 300w"
		sizes="(min-width: 960px) calc(((60rem / 3) * 2) - 20px), calc(100vw - 20px)">
<img src="/photos/mediumx1/gallery1.jpg" alt="Some photo">
</picture>
</section>

<section class="home">
<picture>
<source srcset="/photos/largex2/gallery2.jpg 1880w,
				/photos/largex1/gallery2.jpg 940w,
				/photos/mediumx2/gallery2.jpg 1240w,
				/photos/mediumx1/gallery2.jpg 620w,
				/photos/smallx2/gallery2.jpg 600w,
				/photos/smallx1/gallery2.jpg 300w"
		sizes="(min-width: 960px) calc(((60rem / 3) * 1) - 20px), calc(100vw - 20px)">
<img src="/photos/smallx1/gallery2.jpg" alt="Some photo">
</picture>

<picture>
<source srcset="/photos/largex2/gallery3.jpg 1880w,
				/photos/largex1/gallery3.jpg 940w,
				/photos/mediumx2/gallery3.jpg 1240w,
				/photos/mediumx1/gallery3.jpg 620w,
				/photos/smallx2/gallery3.jpg 600w,
				/photos/smallx1/gallery3.jpg 300w"
		sizes="(min-width: 960px) calc(((60rem / 3) * 1) - 20px), calc(100vw - 20px)">
<img src="/photos/smallx1/gallery3.jpg" alt="Some photo">
</picture>
</section>

<section class="home">
<picture>
<source media="(min-width: 960px)"
		srcset="/photos/widex2/gallery4.jpg 1240w, 
				/photos/widex1/gallery4.jpg 940w" 
		sizes="calc(60rem - 20px)">
<source srcset="/photos/largex2/gallery4.jpg 1880w,
				/photos/largex1/gallery4.jpg 940w,
				/photos/mediumx2/gallery4.jpg 1240w,
				/photos/mediumx1/gallery4.jpg 620w,
				/photos/smallx2/gallery4.jpg 600w,
				/photos/smallx1/gallery4.jpg 300w"
		sizes="calc(100vw - 20px)">
<img src="/photos/largex1/gallery4.jpg" alt="Some photo">
</picture>
</section>
